body {
text-align: center;
}

marquee {
background-color: dodgerblue;
color: white;
}

#contact_box {
width: 600px;
height: 580px;
}

.room_names {
font-size: 20px;
}

#myCarousel1 {
width: 1400px;
height: 550px;
}

.box {
background-color: dodgerblue;
border-radius: 8px;
border: 2px;
height: 33px;
width: 600px;
}

.box p1, .fa-film, .fa-sort-desc {
color: white;
font-size: 20px;
}

#q1 {
margin-right: 220px;
}

#q2 {
margin-right: 245px;
}

#q3 {
margin-right: 245px;
}

#q4 {
margin-right: 5px;
}

#q5 {
margin-right: 5px;
}

#q8 {
margin-right: 15px;
}

#q9 {
margin-right: 15px;
}

#q10 {
margin-right: 50px;
}

#FAQS ul {
list-style-position: inside;
text-align: justify;
}

#ans1 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans3 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans4 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans5 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans6 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans7 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans8 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans9 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans10 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans11 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#ans1 p1 {
font-size: 18px;
font-family: cursive;
color: black;
text-decoration: underline;
}

#FAQS li {
font-family: cursive;
color: black;
}

#ans2 {
width: 600px;
border: 1px;
border-style: solid;
border-color: dodgerblue;
border-radius: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-top: 10px;
}

#Other_Branches ul {
list-style: none;
}

.list-group-item {
height: 300px;
width: 1000px;
}

.list-group-item h4 {
text-align: justify;
}

.list-group-item img {
float: left;
margin-top: 20px;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 65%;
margin-top: 40px;
}

td {
border: 1px solid #dddddd;
text-align: left;
padding: 15px;
}

tr:nth-child(even){
background-color: #dddddd;
}

tr:nth-child(odd){
background-color: white;
}

#Our_Toppers p1{
font-size: 25px;
color: dimgray; 
}

#Our_Toppers p2, i {
font-size: 18px;
color: dimgray;
background-color: lightgoldenrodyellow;
font-family: cursive;
font-weight: bold;
font-style: italic;
}

#quote-container {
text-align: justify;
margin-left: 300px;
}

#topper-list-1 {
margin-top: 15px;
}

#topper-list-2 {
margin-top: 15px;
}

#topper-list-3 {
margin-top: 15px;
}

#topper-list-4 {
margin-top: 15px;
}

.img-container img {
float: left;
margin: 50px;
}